version: '3.9'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: etl_user
      POSTGRES_PASSWORD: etl_pass
      POSTGRES_DB: logistics_dw
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  metabase:
    image: metabase/metabase:latest
    container_name: logistic-metabase
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      MB_DB_FILE: /metabase.db
    restart: unless-stopped
volumes:
  pgdata:

